PORT=
NODE_ENV=
URL_REACT=
MAX_NUMBER_SCHEDULE=
EMAIL_APP_PASSWORD=
EMAIL_APP=
JWT_SECRET=
JWT_EXPIREIN=
RECAPTCHA_SECRET_KEY=
GEMINI_API_KEY=
RESEND_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
# GOOGLE_REFRESH_TOKEN=
GOOGLE_REFRESH_TOKEN=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_SSL=